body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 40px;
}

form {
  margin-bottom: 20px;
}

input, button {
  padding: 8px;
  margin: 4px;
  outline: none;
  border: none;
}

button{
  background-color: blue;
  color: white;
  font: bolder;
}

.delete{
  background-color: red;
}

table {
  background: white;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}
